@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animation-duration-20 {
    animation-duration: 20s !important;
  }
  .animation-duration-6 {
    animation-duration: 6s !important;
  }
}

/* Rubik font faces */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Medium.woff");
  font-style: normal;
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-ExtraBold.woff");
  font-style: normal;
  font-weight: 800;
  font-display: auto;
}

/* Urbanist font faces */
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist/Urbanist-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist/Urbanist-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist/Urbanist-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist/Urbanist-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist/Urbanist-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: auto;
}
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist/Urbanist-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: auto;
}
