@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --background: 136 52% 6%;
    --foreground: 216 12% 84%;

    --primary: 138 60% 61%;
    --primary-50: 139 100% 94%;
    --primary-100: 139 85% 90%;
    --primary-200: 138 82% 85%;
    --primary-300: 138 77% 78%;
    --primary-400: 138 71% 71%;
    --primary-500: 138 60% 61%;
    --primary-600: 138 46% 49%;
    --primary-700: 138 51% 37%;
    --primary-800: 138 53% 26%;
    --primary-900: 138 54% 16%;
    --primary-950: 136 52% 6%;
    --primary-foreground: 210 40% 95%;

    --secondary: 206 41% 60%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    /* typography */
    --radius: 0.5rem;
    --nav-height: 4.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-neutral-300 antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-secondary text-neutral-100;
  }
  h1 {
    @apply text-4xl font-black xs:text-5xl md:text-6xl;
  }
  h2 {
    @apply mb-4 text-2xl font-bold xs:text-3xl sm:text-4xl;
  }
  h3 {
    @apply mb-3 text-lg font-bold xs:text-xl md:text-2xl;
  }
  h4 {
    @apply mb-2 font-bold xs:text-lg;
  }
}
